
#wrapwrap {
    // اصلاح استایل و فونت جداکننده مسیریاب (Breadcrumb)
    .breadcrumb-item + .breadcrumb-item::before { 
        font-family: "FontAwesome" !important; 
    }

    //  دایره‌ای کردن دکمه مرتب‌سازی (Sort by) مطابق طرح Airproof
    .products_header .o_sortby_dropdown {
        border: 1px solid o-color('o-color-1') !important;
        border-radius: 50px !important; // کاملاً گرد شدن دکمه
        padding: 2px 16px !important;
        background-color: #ffffff;
        
        .btn {
            border: 0 !important;
            background-color: transparent !important;
            box-shadow: none !important;
            font-size: 0.9rem;
        }
    }


    .o_wsale_product_grid,
    .o_carousel_product_card {
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
        border-radius: 20px !important;
        overflow: hidden !important;
        background-color: #ffffff;

        &:hover { 
            transform: translate(-10px, -10px) !important; 
            border: none !important; 
            box-shadow: 0 20px 40px rgba(0,0,0,0.08) !important;
        }

        // رنگ عنوان محصولات فروشگاه
        .o_wsale_products_item_title a { 
            color: #000000 !important; 
            text-decoration: none !important;
        }
    }

    // افکت ترکیب رنگ و تغییر پس‌زمینه کارت فروشگاه در حالت هاور ماوس
    .o_wsale_product_grid:hover {
        background-color: o-color('o-color-3') !important;
        
        .img-fluid { 
            mix-blend-mode: multiply !important;
        }
    }


    .oe_website_sale .o_wsale_design_cards { 
        --o-wsale-card-info-padding: 1.5rem; 
    }
}
