#wrapwrap {
    // خط زیر منوی فعال
    .nav-link.active,
    .show > .nav-link,
    .nav-item.active > .nav-link {
        text-decoration: underline !important;
        text-decoration-color: o-color('o-color-1') !important;
        text-decoration-thickness: 2px !important;
        text-underline-offset: 6px !important;
    }


    #top_menu_collapse .dropdown-toggle::after {
        content: none !important;
    }

    // سبد خرید  منو
    .my_cart_quantity,
    .my_wish_quantity {
        height: 18px;
        width: 18px;
        border-radius: 99px;
        background-color: o-color('o-color-1') !important;
        color: o-color('black') !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    // تنظیم لوگو
    @media (min-width: 992px) {
        header .o_header_centered_logo {
            width: 50%;
        }
    }
}
