#wrapwrap {

    // فعال منوی
    .navbar-light .navbar-nav .show > .nav-link,
    .navbar-light .navbar-nav .nav-link.active {
        border-bottom: 2px solid o-color('o-color-1');
    }

    // فلش
    #top_menu_collapse .dropdown-toggle::after {
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border: none;
        content: '';
        background-image: url('/website_airproof/static/src/img/content/icons/angle-down-solid.svg');
    }
}