@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url('/website_airproof/static/fonts/lato.woff') format('woff'),
         url('/website_airproof/static/fonts/lato.woff2') format('woff2');
}